/* * {

} */

.button--nav {
  width: 50%;
  border: solid 1.5px black;
  background-color:white;
  color: black;
  font-size: 2vh;
  padding: 2%;
}
  
.button--nav:hover {
  background-color: #c26161;
  color: white;
  cursor: pointer;
}

.button--confirmation {
  width: 20%;
  margin-right: 10%;
  margin-left: 10%;
}

.button--login {
  margin-top: 5%;
  width: 25%;
  font-size: 2vh;
}

.card--booking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px saddlebrown;
  background-color: blanchedalmond;
  margin: 1%;
  width: 45%;
}

.container--confirmation-buttons {
  display: flex; 
  justify-content: space-evenly;
}

.container--login {
  margin-top: 10%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error--booking-message {
  color: red;
  font-size: 2vh;
  text-align: center;;
}

.form--login-page {
  border: 1px black solid;
  padding: 2%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 153, 108);
  box-shadow: 0 0 20px black;
}

.image--overlook {
  width: 29%;
  height: 100%;
  align-self: center;
  justify-self: center;
  margin-bottom: 2vh;
  opacity: 1;
}

.image--book-room {
  width: 100px;
}

.image--room {
  width: 30%;
  border: solid 1px saddlebrown;
}

.image--room:hover, .image--book-room:hover {
  transform: scale(3) translate(20%);
  cursor: pointer;
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

.input--login {
  margin: .5%;
  font-size: 2vh;
}

.input--room-search {
  display:flex;
  flex-direction:column;
  margin-left: 1%;;
  width: auto;
}

.link--bookings {
  color: inherit;
  text-decoration: none;
  font-size: 2.4vh;
  margin-left: 1.5%;
}

.link--bookings:hover {
  border-bottom: .65vh #93443b solid;
  color: #93443b;
  font-weight: bold;
}

.nav--bookings {
  margin: 0% 0% .30% 1%;
}

.nav--header {
  margin-bottom: 1%;
  margin-left: 20%;
  width: 25%;
  opacity: 1;
}

.p--welcome {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5vh;
  width: 25%;
  margin-right: 20%;
  opacity: 1;
}

.section--available-rooms {
  border-top: 1px darkslategray solid;
  background-color: #f3e1dd;

}

.section--book-room {
  background-color: #f2dfc4;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.section--bookings {
  border-top: 1px darkslategray solid;
  background-color: #f3e1dd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 125%;
  max-height: 100%;
}

.section--dates {
  display: flex;
  margin-bottom: 1%;
}

.section--display-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--my-bookings {
  display: flex;
  flex-direction: column;
  background-color: #f2dfc4;
  margin-top: 1%;
}

.text--apology, .text--fetch-fail {
  text-align: center;
  font-size: 2.25vh;
  color:#bc1a1a
}

.text--total {
  margin: 0% 0% 1% 0%;
  font-weight: bold;
  font-size: 2.5vh;
  text-align: center;
}

.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
}

header {
  height: 20%;
  width: 96%;
  text-align: center;
  font-size: 125%;
  border-bottom: solid darkslategrey 1px;
  padding: 1% 2% 0% 2%;
  background-image: linear-gradient(#ffffffaa, #ffffff00), url('../images/carpet.svg');
  margin: 0 auto;
  position: fixed;
}

html, body {
  background-color: #f3e1dd;
  margin: 0px;
  height: 100%;
}

h1, h3 {
  text-align: center;
  margin: 2% 0% 2% 0%;
  font-size: 3vh;
}

h2, h4, h5 {
  text-align: center;
  margin: 2% 0% 2% 0%;
  font-size: 2.5vh;
}

main {
  padding-top: 10%;
}

table {
  width: 100%;
  margin-top: 1.5%;
  text-align: center;
}

td {
  width: 10%;
  font-size: 1.9vh;
}

th {
  text-decoration: underline;
  padding-bottom: 1%;
  font-size: 2.05vh;
}

ul {
  list-style: none;
  padding: 0;
  width: 50%;
}

li {
  padding: 1%;
}

.popUpBox{
    width: 30%;
    height: 12%;
    overflow: hidden;
    background: #ce9b9b;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    border: solid 2px white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    color: #000000;
}

  